/* @font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
} */

h1 {
  /* font-family: 'SEGA LOGO FONT'; */
  font-weight: 300;
  margin: 0;
  padding: 1rem 0 0 0;
  color: #fff;
}

article {
  max-width: 45%;
}

.fz-xs {
  font-size: 10px;
}

.fz-sm {
  font-size: 14px;
}


header {
  position: sticky;
  height: 20%;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scroll {
  height: 75%;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card,
.searchbox {
  background-color: #bbbbd8;
}

.card {
  width: 30%;
  min-height: 186px;
  vertical-align: middle;
}

@media only screen and (min-width: 480px) {
  .card {
    min-height: 256px;
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 25%;
  }
  .scroll {
    height: 75%;
  }
}
