.App {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 300;
  padding: 1rem 0 0 0;
  color: #fff;
}

article {
  max-width: 45%;
}

.fz-xs {
  font-size: 10px;
}

.fz-sm {
  font-size: 14px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card,
.searchbox {
  background-color: #bbbbd8;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card {
  width: 50%;
  max-width: 150px;
}

@media only screen and (min-width: 480px) {
  .card {
    width: 30%;
  }
}

@media only screen and (min-width: 768px) {
}
